language: node_js
env:
  global:
  - CC_TEST_REPORTER_ID=b9d340bef3f3f1807c2c5e3a739558593c6faae7d98be07b4257b9fd43362ba7
  - SAUCE_USERNAME=nomego
  - secure: eeEgxxTJizThU4UUp/dhWiDQrrIiRIo6RJ/0QAE+4qaqYxwKg8Ith5fdtBDE6h7JQQ995lt0gYL16F+5ASMbswK1xDXv9QuLmwRp/7A3ZfT2qnwOUMfjFGCVqms0CM+QclrKT3JvPlDD9QjuKfg+zrQwCz1mMboJrJOEk+WflP1+hSh8hOYQUMkBt7bxE8T0zRdMP9KCMbz0nlo97OrlaKqKpJsdymeApwQn3Ig+aJe9NSZYhZB/wrjCMjFwLL6o1zoRHXhUAFAUb9OBWoqjUIHNHzkj6jeDi47ODVhjtZ9H+jAz5tVaV4YzanmxLiP6hVjQirstPa9M5AQhSvHYC5uMnIQYC8yvHuB4Bu7zj1ypqXXBfAjtJhZnCg4fDPqh0b/ycPOVyfww/e2udIIml2s5bui4F2hHVadWbY1ZpGbe2NmjQ1J2V0CvmQ3sENYaIWAWRzkDjzELdKcy8f8WThgFLjM2umKPOyZ+7AWZCyc4mUmPsme7iGsER3XLlcJ9Begjvw5b4CkGf588NyI8gfxRMpdxCnaJ1eAq7VbJi7BNFhwprcoE8FusDh1EdCp2kMiSkmixkN8mBxhp4BAEfXvmrafqKekT5jnbz5iRHNdFwfWIVhHkhZvMLKyDe/XH5BEI+COjszCAnKqPpUskd/wLUxjK5DlLMMYAhvZV2QM=
addons:
  firefox: latest
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
cache:
  yarn: true
  directories:
  - node_modules
  - bower_components
  - bower_components-1.x
  - ".eslintcache"
  - "$HOME/.cache/bower"
before_script:
- curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
  > ./cc-test-reporter
- chmod +x ./cc-test-reporter
- "./cc-test-reporter before-build"
- yarn run lint
script:
- yarn test
after_script:
- "./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT"
notifications:
  slack:
    secure: tnIhDZsHA/PZcXASCkLJv06FYA3phif/RZ+uFTXE8NVetoIGK8xPcR/tZRt5OwWCl1SSjwdcc4NBmT8m7k7zZj/uh1IZwRtIbvWqe+ZlRfjM9OacdhYtsyQ0C0H9h8/hzdeEZ4EgK7m0QtfthKy+KEeaxY+Hua+gvSlUKqdYGX7yCOmZPFZqrcrJ5qEsM4sNi3BO9L0OMQkNNhwwu5F2d/8WTu/rox+IFjobldI6NWlu5hpQpqNcdhyuNBLJ3QazYpPWURr16JZ0xoyvo+chtXpJ4DHMQu1xzzHl5/34gNiQTvblzCpvBJ05J4kXa/HckYy31YidyLgTL9sCFyR/FJMtqyDmnYjIvoIpB1XviSwgRt4cjVo6zLY1BsQR0B0zpAQr2B6PQ2nuh42kxMndo5Bx07/wlR/pWk2CiDc/YlSMH9vO+So2QCpaT7YyxwiRXl0PyKVuBcq/azzXkgavRqN1AsX0VPvcpooAUXyMGugR2U8O4n5dZPz7EaNyXQ7kapmUsjcTVoEPLtibv/2tzRiS0n+jScbwrE8OIRAPFF8A00qCCmJqJzNHkWOw5kTDJsfXTHCbuYa+PtbMdmsuCPksJWxZchHO2twIqIYVMC49XJw/j7Ztpph/cppojlqKkv82URvXz9TLvSdkSZFXGvEh/7lk4ifO6crQJqlahAc=
